@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');

div{
    margin: 0px !important;
}


p{
    font-family: 'Ubuntu', sans-serif;

}

body{
    background-image: url("../img/fundo.jpg");
    background-repeat: repeat-y;
    background-size: 100vmax 70vmax;
    height: unset;
}

/* Estilo aplicado no menu do topo da pagina */

.container{    
    background-color: #E39A42;
    box-shadow: 0px 4px 4px 1px rgb(15, 13, 13);
    max-width:100vw !important; 
    
}

.container_menu{
    display: inline-flex;
    flex-direction: row;      
}


/* Estilo do Corpo da pagina */

.text-center{
    margin-top: 35px;
    color: #ffffff;
}

div > h2 {
    color: #ffffff;
}

div > p {
    color:#ffffff;
}



.ideia{
    background-color: #E39A42; 
    
}



